# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\mehdi\Desktop\Math_Repo\LINFO1114\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/misc.xml
/LINFO1114.iml
/inspectionProfiles/Project_Default.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
